<html>
	<body style="background-color:powderblue;">
		<center>
			<h1> Secure File Storage Using Hybrid Cryptography </h1><br><br>
			<table>
				<tr>
					<td><a href="upload"><button>Upload</button></a></td>
					<td><a href="download"><button>Restore</button></a></td>
				</tr>
			</table>
			<br><h4>A Project by:</h4>
			<h5>Sudha Lalwani            CT17036</h5>
			<h5>Mohit Singh            CT17116</h5>
			<h5>Snehal Bawankule            CT17122</h5>
			<h5>Sakshi Labhe            CT17046</h5>
			<h5>Ashwin Zatale            CT13014</h5>
		</center>
	</body>
</html>